<div class="d-flex flex-grow-1 justify-content-end">
    <button *ngIf="!editState" mat-button (click)="logout()" matTooltip="Log out">
    <mat-icon>
      exit_to_app
    </mat-icon>
  </button>
    <button mat-button (click)="openDialog(user)" matTooltip="Edit">
    <mat-icon>
      edit
    </mat-icon>
  </button>
</div>

<div class=" d-flex flex-grow-1" style="width: 100%; position: absolute;">
    <div class="row d-flex justify-content-center" style="width: 100%;">
        <div style="width: 100%;">
            <div class="well profile " style="width: 100%; position:absolute; left: 0; right: 0;">
                <div class="col-sm-12 " style="width: 100%; ">
                    <div class="col-xs-12 col-sm-8 ">
                        <h2>{{ user.name }}</h2>
                        <p><strong>About: </strong> Web Designer / UI. </p>
                        <p><strong>Hobbies: </strong> Read, out with friends, listen to music, draw and learn new things. </p>

                        <p class="d-flex flex-row flex-wrap align-items-center ">
                            <strong class="mr-1 ">Skills: </strong>
                            <mat-chip-list>
                                <mat-chip *ngFor="let tagMe of FilterTags ">{{tagMe}}</mat-chip>
                            </mat-chip-list>
                        </p>

                    </div>
                    <div class="col-xs-12 col-sm-4 text-center ">
                        <figure>
                            <img *ngIf="!user.image " src="../../assets/user-male-icon.png " alt=" " class="img-circle img-responsive ">
                            <img *ngIf="user.image " [src]="user.image " alt="profile pict " class="img-circle img-responsive ">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>