$icon-font-path: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/fonts/" !default;
// Include Bootstrap styles
@import "~bootstrap-sass/assets/stylesheets/_bootstrap";
div {
    margin: auto;
    font-family: 'PT Sans Narrow', sans-serif;
    position: absolute;
    width: 100%;
    height: 100%;
}