<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
<div class=" d-flex flex-grow-1">
	<div class="row">
		<div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
    	 <div class="well profile">
            <div class="col-sm-12">
                <div class="col-xs-12 col-sm-8">
                    <h2>Nicole Pearson</h2>
                    <p><strong>About: </strong> Web Designer / UI. </p>
                    <p><strong>Hobbies: </strong> Read, out with friends, listen to music, draw and learn new things. </p>
                    
                    <p class="d-flex flex-row flex-wrap">
                        <strong>Skills: </strong>
                        <span class="tag1 m-1">java</span> 
                        <span class="tags m-1">nancy</span>
                        <span class="tags m-1">jquery</span>
                        <span class="tags m-1">bootstrap3</span>
                        
                    </p>
                </div>             
                <div class="col-xs-12 col-sm-4 text-center">
                    <figure>
                        <img src="../../assets/user-male-icon.png" alt="" class="img-circle img-responsive">
                        <figcaption class="ratings">
                            <p> Email
                            <a href="#">
                               s
                            </a>
                            
                           
                            </p>

                        </figcaption>
                    </figure>
                    
                </div>
                
            </div>            
      
       </div> 
       <mat-list>
        <mat-list-item>user name: </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Email address: </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Full Name</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>PlaceHolder1</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>PlaceHolder2</mat-list-item>
      </mat-list>
                      
		</div>
	</div>
</div>

