<mat-card class="project-card">
    <mat-card-header class="d-flex align-items-center">
        <mat-card-title>
            <h2 style="text-align: left;">{{item.title}}</h2>
        </mat-card-title>
        <button mat-button class="ml-auto" (click)="enrollUser()"
            style="margin-bottom: 10px; font-size: 20px; background: #303841;">
            <h5 style="color: white;">Attend Event</h5>
        </button>
    </mat-card-header>
    <img *ngIf="item.image" mat-card-image class="project-image" src={{item.image}}>
    <img *ngIf="!item.image" mat-card-image class="project-image" [src]="'../../../assets/placeholder.png'">
    <mat-card-content>
        <p> {{item.description}} </p><br>
        <p>For contact: {{item.phoneNumber}}</p>
    </mat-card-content>
    <mat-chip-list>
        <mat-chip *ngFor="let tagMe of item.tags">{{tagMe}}</mat-chip>
    </mat-chip-list>
    <mat-card-actions>
        <button mat-button class="btn-not-btn">Date: {{item.date}}</button>
        <button mat-button class="btn-not-btn">{{item.numberOfVolunteers}} volunteers needed</button>
        <button *ngIf="delete" (click)="deleteProject()"
            style="border-radius: 50%; background-color: #e0e0e0; right: 10px; position:absolute;">
            <mat-icon>
                delete
            </mat-icon>
        </button>
    </mat-card-actions>
</mat-card>