<mat-card class="project-card">
  <mat-card-header class="d-flex align-items-center">
      <mat-card-title>{{item.title}}</mat-card-title>
      <button mat-button class="ml-auto">
        Attend Event
      </button>
  </mat-card-header>
  <img mat-card-image class="project-image" src={{item.image}}>
  <mat-card-content>
      <p> {{item.description}} </p>
  </mat-card-content>
  <mat-chip-list>
      <mat-chip *ngFor="let tagMe of item.tags">{{tagMe}}</mat-chip>
  </mat-chip-list>
  <mat-card-actions>
      <button mat-button class="btn-not-btn">{{item.date}}</button>
      <button mat-button class="btn-not-btn">{{item.numberOfVolunteers}} volunteers needed</button>
      <button class="xmark" (click)="deleteProject()">X </button>
  </mat-card-actions>
</mat-card>