.example-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    float: left;
}

.example-container form {
    margin-bottom: 20px;
}

#form {
    box-shadow: 0px 2px 2px 0px #cccc;
    padding-left: 15px;
    padding-top: 15px;
    background: #f9f7f7;
}

#form button {
    margin-left: 15px;
    cursor: pointer;
    padding: 10px;
    text-align: center;
    position: absolute;
}

.example-container form>* {
    margin: 5px 0;
}

.example-container .mat-radio-button {
    margin: 0 12px;
}

mat-form-field {
    margin-right: 12px;
}