<mat-dialog-content>
    <form [formGroup]="projectForm">
        <h1>Please fill in the required information:</h1>
        <h2>Description:</h2>
        <div class="form-group">
            <label>Project Name</label>
            <input type="text" formControlName="title" class="form-control" placeholder="Title" reuqired>
        </div>
        <div class="form-group">
            <label>Address</label>
            <input type="text" class="form-control" formControlName="address" placeholder="Address" reuqired>
        </div>
        <div class="form-group">
            <label>Image</label>
            <input type="url" class="form-control" formControlName="image" placeholder="Image Url" reuqired>
        </div>

        <div class="form-group">
            <label>Date</label>
            <input type="date" class="form-control" formControlName="date" placeholder="Date" reuqired>
        </div>
        <div class="form-group">
            <label>Number of Volutunteers</label>
            <input type="number" class="form-control" formControlName="numberOfVolunteers" placeholder="Volunteers" reuqired>
        </div>
        <div class="form-group">
            <label>Project Description</label>
            <textarea class="form-control" formControlName="description" placeholder="Description" (change)="predictTags($event)" required></textarea>
        </div>
        <div class="form-group">
            <label>Phone Number</label>
            <input class="form-control" formControlName="phoneNumber" placeholder="Phone Number" reuqired>
        </div>
        <div class="form-group" style="margin-bottom:0; display:inline-block;">
            <label>tags</label>
            <input type="text" class="form-control" formControlName="tags" placeholder="Keyword"
                style="float: left; width: 50%;" reuqired>
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" (click)="addtag(projectForm.value)" class="btn btn-success"
                   >Add</button>
                <button type="button" (click)="clearTags()" class="btn btn-danger"
                    >Clear</button>
            </div>
        </div>
        <br/>
        <mat-chip-list>
            <mat-chip *ngFor="let item of tags">{{item}}</mat-chip>
        </mat-chip-list>
        <br/>
        <br/>
        <button type="submit" (click)="addProject(projectForm.value)" class="btn btn-success btn-block">Post
            Project</button>
    </form>
</mat-dialog-content>
