a:hover {
    text-decoration: none;
}

#icon {
    background-color: #d89cf6;
    border-radius: 70%;
    height: 50px;
}

.material-icons {
    color: white;
}

h1 {
    letter-spacing: 5px;
}

.image {
    width: 40px;
    height: 40px;
    border-radius: 24px;
}